
<div class="jumbotron">
  <div class="container text-left pull">
      <div class="table-condensed">
        <table class="table">
            <tr>
              <% @show.repos.each do |repo| %>
                <th><%= repo["name"][0..2] %></th>
              <% end %>
            </tr>
          <tr>
            <% @show.open_pull_requests.each do |pull_request| %>
              <td><%= pull_request %></td>
            <% end %>
          </tr>
      </table>
    </div>
  </div>
</div>
