<div class="jumbotron">
  <h1>Welcome!</h1>

  <% if current_user %>
    <p>hello, <%= current_user.nickname %></p>
    <%= link_to "logout", logout_path, class: "btn btn-primary" %>
  <% else %>
    <%= link_to "login", login_path, class: "btn btn-primary" %>
  <% end %>
</div>
