<div class="jumbotron">
  <h2>Followers and Their Latest Evenement</h2>
    <div class="col-md-4">
      <% @followers.each do |follower| %>
        <h3><%= follower["login"] %></h3><br>
      <% end %>
    </div>
    <div class="col-md-4">
      <% @follower_events.each do |event| %>
        <h3><%= event["type"] %></h3><br>
      <% end %>
    </div>
</div>
