body {
  padding-top: 50px;
  background-color: #FFF4AD;
}

.jumbotron {
  text-align: center;
  position: relative;
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1443479579455-1860f114bf77?dpr=2&fit=crop&fm=jpg&h=900&q=50&w=1700");
  background-color: black;
  background-repeat: no-repeat;
  background-attachment: fixed !important;
  background-position: center;
  background-size: cover !important;
  color: white;
}

.jumbotron .h {
  color: white;
}

img {
  height: 200px;
  weidth: 200px;
  border-radius: 100%;
}

.container {
  text-align: center;
}

.container a {
    border-radius: 25px;
    border-color: coral;
    border-bottom-width: medium;
    border-width: medium;
}

.navbar a {
  text-decoration: none;
  margin: 2px;
  margin-bottom: -6px;
}
