body {
  padding-top: 50px;
  background-color: #FFF4AD;
}

.jumbotron {
  text-align: center;
  position: relative;
  height: 100vh;
  background-color: black;
  background-repeat: no-repeat;
  background-attachment: fixed !important;
  background-position: center;
  background-size: cover !important;
  color: white;
}

.jumbotron a {
    border-radius: 25px;
    border-bottom-width: medium;
    border-width: medium;
}

.jumbotron .h {
  color: white;
}

.container.text-center {
    padding-left: 5%;
    padding-right: 5%;
}

.td {
    word-wrap:break-word
}

.table-condensed {
  background-color: white;
}

img {
  height: 200px;
  weidth: 200px;
  border-radius: 100%;
}

.container {
  text-align: center;
}

.container a {
    border-radius: 25px;
    border-color: coral;
    border-bottom-width: medium;
    border-width: medium;
}

.navbar a {
  text-decoration: none;
  margin: 2px;
  margin-bottom: -6px;
}
