<!DOCTYPE html>
<html>
<head>
  <title>OauthWorkshop</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link href="css/custom.css" rel="stylesheet">
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <nav class="menu">

        <a href="#"<i class="fa fa-home fa-2x" style="color: #EB5454;"></i><h6>Home</h6></a>
        <a href="#here"<i class="fa fa-coffee fa-2x" style="color: #FFF4AD;"></i> <h6>Social</h6></a>
        <a href="#there"<i class="fa fa-folder fa-2x" style="color: #EBBB54;"></i><h6>Portfolio</h6> </a>
        <a href="#overthere"<i class="fa fa-cloud fa-2x" style="color: white;"></i><h6>Projects</h6> </a>
        <a href="#yonder"<i class="fa fa-camera-retro fa-2x" style="color: #DDDD77;"></i><h6>Portrait</h6></a>
      </nav>
    </div>
  </nav>
<%= yield %>

</body>
</html>
