<!DOCTYPE html>
<html>
<head>
  <title>OauthWorkshop</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link href="css/custom.css" rel="stylesheet">
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <nav class="menu">

        <a href="/"<i class="fa fa-home fa-2x" style="color: #4457E3;"></i><h6>LeHub</h6></a>
        <a href="/"<i class="fa fa-home fa-2x" style="color: #5E90D1;"></i><h6>Orgs</h6></a>
        <a href="/repos"<i class="fa fa-folder fa-2x" style="color: white;"></i><h6>Repo's</h6> </a>
        <a href="/pullrequests"<i class="fa fa-exclamation-triangle fa-2x" style="color: #D15E60;"></i><h6>PR's</h6></a>
        <a href="/followers"<i class="fa fa-users fa-2x" style="color: #EB5454;"></i><h6>Followers</h6></a>
      </nav>
    </div>
  </nav>
<%= yield %>

</body>
</html>
